[2021-06-01 11:22] wyli opened #48 "host/load pretrained weights for 3D resnet"

[2022-05-09 11:09] yiheng-wang-nv opened #1 "Add Spleen Bundle"

[2022-05-17 14:42] yiheng-wang-nv opened #4 "Add folders inside models"
To distinguish models with the corresponding tasks, such as segmentation , classification, may need to build some folders inside models.

[2022-05-18 03:56] #4 closed, assigned to nobody

[2022-05-19 04:01] yiheng-wang-nv opened #6 "Modify PR templates to add more requirements"
According to https://docs.monai.io/en/latest/mb_specification.html A bundle needs to meet some requirements such as providing necessary files (like license and metadata.json), consistency (like correct descriptions and lib versions) and so on. To ensure the bundle quality, we can modify the pull request template, and add more requirements into the checklist.
In the future, related CI tests should

[2022-05-19 11:17] #6 closed, assigned to yiheng-wang-nv

[2022-05-19 11:31] wyli opened #8 "basic code formatting with pre-commit for all the pull requests"
**Is your feature request related to a problem? Please describe.**
would be great to have basic auto formatting with pre-commit

- https://github.com/Project-MONAI/research-contributions/blob/main/.pre-commit-config.yaml
- https://github.com/Project-MONAI/MONAI/blob/dev/.pre-commit-config.yaml

[2022-05-20 10:04] yiheng-wang-nv opened #10 "Enhance workflow for automatically update models"
After a PR is merged, we need to manually check which bundles are updated/added, and download the large files if necessary, and then compress each bundle into a zip file and upload to github release. After finishing all these steps, the `model_info.json` file should also be updated.
It would save a lot of time if all these steps can be finished automatically.

[2022-05-20 10:18] #8 closed, assigned to yiheng-wang-nv

[2022-05-20 13:12] yiheng-wang-nv opened #13 "Update Readme about contribution requirements"
Now, the pr template has been changed (https://github.com/Project-MONAI/model-zoo/pull/7) and it require contributors to meet the related places of the checklist, we may also need to mention it in the readme.

[2022-05-20 13:40] #13 closed, assigned to yiheng-wang-nv

[2022-05-23 11:09] yiheng-wang-nv opened #14 "Update readme about large files"
According to the latest discussion, the way of how to handle large files has changed.

[2022-05-24 00:11] drbeh opened #16 "Pathology Tumor Detection Bundle"
Add a MONAI Bundle for pathology tumor detection pipeline.

[2022-05-24 00:15] bhashemian opened #17 "Fork is disabled!"
**Describe the bug**
In the instruction, it is mentioned that:

However, forking is disabled for this repo, so either the instruction need to be changed to create branches in the same repo or forking needs to be enabled. Thanks

[2022-05-24 00:42] bhashemian opened #18 "Error downloading object"
Do we need to buy more data packs?

This is the error when cloning the repo:
[code]

[2022-05-24 03:34] #14 closed, assigned to yiheng-wang-nv

[2022-05-24 03:36] #18 closed, assigned to nobody

[2022-05-24 04:17] #17 closed, assigned to Nic-Ma, yiheng-wang-nv

[2022-05-25 08:16] yiheng-wang-nv opened #20 "Add Brats segmentation bundle"
The Brats segmentation with segresnet bundle will refer to the tutorial:

https://github.com/Project-MONAI/tutorials/blob/main/3d_segmentation/brats_segmentation_3d.ipynb

[2022-05-26 12:53] yiheng-wang-nv opened #21 "Fix `metadata.json` issue of deepedit bundle"
As described in https://github.com/Project-MONAI/tutorials/issues/733 The `spleen_deepedit_annotation` bundle also needs to be updated.

[2022-05-27 13:23] bhashemian opened #25 "Local references fail in lambda functions"
**Describe the bug**
Local references using `@` fail when used in a lambda function and executed using "$". Here are examples that I have encountered:
the python object are defined like this in the top level of json:
[code]
and used like this in train and validate sections:
[code]

The error that I get is
[code]

**Environment**

[code]

[2022-05-27 20:21] ahatamiz opened #26 "Add Swin UNETR bundle"
Adding the Swin UNETR bundle, mainly based on the following repository:
https://github.com/Project-MONAI/research-contributions/tree/main/SwinUNETR/BTCV

[2022-05-30 18:58] #25 closed, assigned to Nic-Ma

[2022-06-02 03:01] #26 closed, assigned to nobody

[2022-06-07 09:09] #21 closed, assigned to yiheng-wang-nv

[2022-06-07 15:31] #20 closed, assigned to yiheng-wang-nv

[2022-06-14 04:52] yiheng-wang-nv opened #33 "Put `verify the metadata format` from bundle to repo readme"
The way to verify the metadata format for each bundle is unified, thus we may not need to put it into the readme for each bundle repeatedly.

[2022-06-16 02:52] yiheng-wang-nv opened #34 "Enable `/black` in comments"
Same as MONAI repo, it will be more convenient for users to fix code format issues

[2022-06-16 03:33] #10 closed

[2022-06-16 11:21] yiheng-wang-nv commented on #34
Issue: https://github.com/Project-MONAI/monai-code-formatter/runs/6911719251?check_suite_focus=true#step:7:336
Since `runtests.sh` in this repo does not have `clangformat` check, we cannot use `project-monai/monai-code-formatter` directly in `chatops.yml`.

[2022-06-17 15:19] wyli opened #36 "adding a contributing guidelines"
**Is your feature request related to a problem? Please describe.**
with bundle licencing recommendations

[2022-06-24 06:40] yiheng-wang-nv opened #39 "Adding premerge ci tests"
We can enable the following ci tests for a pull request if it changes (adds) a bundle:

1. If `large_files` file exists, check the download link and checksum for each large file.
2. Verify the metadata format.
3. Verify the data shape of network.
4. Check TorchScript export, if the bundle supports.

[2022-06-24 06:40] yiheng-wang-nv commented on #39
Hi @YanxuanLiu , FYI. I am working on this ticket, and it may need your help to enable the tests into blossom, thanks in advance.

[2022-06-24 06:59] YanxuanLiu commented on #39
I'm going to create two interface scripts in model-zoo repo, just like we did for NVFlare: https://github.com/NVIDIA/NVFlare/tree/dev/ci<br>
Jenkinsfile will execute these two scripts to run GPU tests and non-GPU tests seperately. It means we only need to modify the interface scripts when you want to update the tests, and we don't need to do any changes to Jenkinsfile.<br>

[2022-06-30 09:21] #39 closed, assigned to yiheng-wang-nv

[2022-07-01 03:25] yiheng-wang-nv opened #41 "Employ customized premerge ci tests"
Different bundle may support different verifications, thus customized tests should be employed rather than the current implementation which always use the same way to verify the bundle.

[2022-07-01 11:25] #36 closed, assigned to yiheng-wang-nv

[2022-07-01 11:34] Nic-Ma opened #42 "CI test error when merged the contribution guide PR"
Hi @yiheng-wang-nv ,

I received this error when I merged the contribution guide PR:
https://github.com/Project-MONAI/model-zoo/runs/7149069513?check_suite_focus=true
[code]

Thanks.

[2022-07-01 15:49] yiheng-wang-nv commented on #42
Thanks Nic. The root cause of the issue is that the program tries to upload bundles into the release, but there are already have bundles with same names inside it. The duplicate filenames are due to the version numbers of those changed bundles are not changed.

I will enhance the verification part of the version number  in our premerge ci tests to avoid this issue.

[2022-07-04 03:40] #33 closed, assigned to yiheng-wang-nv

[2022-07-05 09:44] yiheng-wang-nv opened #47 "Auto submit a PR when update the release"
So far, after merging a PR, if the release has been updated, a new branch will be pushed with the updated `model_info.json`, but we still need an admin to manually create a PR for the branch.

[2022-07-05 09:44] yiheng-wang-nv commented on #47
https://cli.github.com/manual/gh_pr_create may be useful

[2022-07-11 07:43] #42 closed, assigned to yiheng-wang-nv

[2022-07-11 08:14] #41 closed, assigned to yiheng-wang-nv

[2022-07-11 08:19] yiheng-wang-nv opened #49 "Use Enum class to define hard code strings for CI tests"
So far, we use hard code strings such as "network_def", "configs/metadata.json" and "model_info.json" in ci tests. These strings are derived according to the current folder structure of this repo and the bundle specification.
If there are some changes in the future, it's hard to modify these strings. Using Enum class to maintain these strings is a better choice, we can do sth like in MONAI:

https

[2022-07-17 20:56] MMelQin opened #50 "Error on torch.jit.load the Pancreas CT Seg bundle"
**Describe the bug**
Tried to use the [Pancreas seg bundle](https://github.com/Project-MONAI/model-zoo/tree/dev/models/pancreas_ct_dints_segmentation) in an application built with MONAI Deploy App SDK and its bundle inference operator, but ran into error on loading the TorchScript, whereas the Spleen CT Seg bundle worked perfectly.

To isolate the problem, ran Python3 and tried to load TorchScript

[2022-07-17 21:14] MMelQin opened #51 "Downloading TorchScript file for ventricular_short_axis_3label produced NumPy file."
I was trying to download and see what the model.ts file is like for the [ventricular_short_axis_3label](https://github.com/Project-MONAI/model-zoo/blob/dev/models/ventricular_short_axis_3label/large_files.yml).

I used `gdown"https://drive.google.com/uc?id=158RMzaGtgMgY1hCneDXmqCx7u046RbZE"`, but got a NumPy file `SC-N-2-3-0.npy`

BTW, `gdown` with the URL for the model.pt file did get the `model.

[2022-07-18 03:14] Nic-Ma commented on #51
Hi @MMelQin ,

Thanks for your interest here.
Please download the bundle from release, it contains all the data of a bundle:
https://github.com/Project-MONAI/model-zoo/releases/tag/hosting_storage_v1
We are building the web page for users to view-click-download.

Thanks.

[2022-07-18 03:22] Nic-Ma commented on #50
Hi @yiheng-wang-nv ,

Could you please help take a look at this issue?
Maybe something is wrong with the PyTorch version when exporting to TorchScript model?

Thanks in advance.

[2022-07-18 05:21] MMelQin commented on #51
Thanks @Nic-Ma.

I downloaded the model zip files from the link you provided above, and after unzip the file I can see in the models folder there are model.pt and model.ts.

However, model.ts is NOT a valid archive. Was it not saved correctly?

[code]

And similarly, PyTorch complains too,
[code]

[2022-07-18 05:23] Nic-Ma commented on #51
Hi @yiheng-wang-nv ,

Could you please help verify this issue? Maybe something wrong when doing zip?

Thanks in advance.

[2022-07-18 06:16] yiheng-wang-nv commented on #51
Hi @MMelQin , thanks for reporting this issue. I double checked it, and the uploaded `model.ts` file is wrong. Hi @ericspod , could you please help to update the bundle with corrected `model.ts` file? Thanks!
On my side, I will enhance the premerged ci test to verify the provided `model.ts` file. The verification function should also include the mentioned pytorch version and solve the issue mentio

[2022-07-18 07:20] yiheng-wang-nv commented on #50
Hi @dongyang0122 , could you please help to double confirm the pytorch version that is used for this bundle? I tried with pytorch 1.12.0 and it is loaded successfully, but 1.10.0 failed (same as @MMelQin found). Thanks!

[2022-07-18 08:39] SachidanandAlle opened #52 "Resolve conflicting key names across bundles"
Conflict key names:
https://github.com/Project-MONAI/model-zoo/blob/dev/models/spleen_deepedit_annotation/configs/inference.json#L63

vs

https://github.com/Project-MONAI/model-zoo/blob/dev/models/spleen_ct_segmentation/configs/inference.json#L33

Is there a validation script to check against all configs.. or user can choose any name in such cases?

[2022-07-18 08:42] yiheng-wang-nv commented on #52
Hi @SachidanandAlle , yes, like a manually written training/inference pipeline, the name of transforms is just a variable, and users can choose any name.

[2022-07-18 08:49] SachidanandAlle opened #53 "Not compatible with 0.9.1* version"
Not able to run using monai 0.9.1.rc3 version.. (specially in case of deepedit which fails while running post inverse transform)

[2022-07-18 08:56] SachidanandAlle commented on #53
May be other models also should need some verification against latest MetaTensor related changes...

[2022-07-18 09:16] SachidanandAlle commented on #52
i thought we are defining/following a strict schema here.. for the basic/reserved keys in the json/yaml..

[2022-07-18 09:50] yiheng-wang-nv commented on #53
Hi @SachidanandAlle , in `configs/metadata.json`, library versions are included, and for this version of deepedit bundle, we can only ensure that it can work with monai v0.9.0.
For the metatensor based changed, we may need to add new supported versions.
cc @Nic-Ma

[2022-07-18 10:48] Nic-Ma commented on #53
@yiheng-wang-nv , as MetaTensor is slightly breaking change, need to update new version bundles if the developer or user like to support MONAI 0.9.1.
CC @wyli

Thanks.

[2022-07-19 22:20] MMelQin commented on #50
Once `torch==1.12.0` is installed and used in the app, jit.load succeeded. This issue can be closed per PR #54

[2022-07-19 22:21] #50 closed, assigned to nobody

[2022-07-21 09:03] yiheng-wang-nv opened #59 "Issue of using subprocess to do `pip install` in ci tests"
Related place: https://github.com/Project-MONAI/model-zoo/blob/d495cea91404e7c446cc8753081707b4ea0e1edc/ci/verify_bundle.py#L127
In this way, `torch` cannot be installed properly. Issue is like in: https://github.com/Project-MONAI/model-zoo/runs/7443679077?check_suite_focus=true#step:2:501

[2022-07-21 12:44] #59 closed, assigned to yiheng-wang-nv

[2022-07-21 14:47] #51 closed, assigned to nobody

[2022-07-25 10:27] Nic-Ma commented on #52
Thanks for the great discussion last week, I think we almost aligned to **define the "standard" of the file and key names** in a bundle for better integration with other apps like: MONAI Label, MONAI deploy, NVFlare, etc.

So here for the first step, I think let's gather the requirements for keys:
1. MONAI Label:
https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/monaibundle/lib/inf

[2022-07-25 10:33] wyli commented on #52
Probably we should also clarify the differences between this and the bundle specifications. https://github.com/Project-MONAI/MONAI/blob/dev/docs/source/mb_specification.rst

[2022-07-25 10:36] Nic-Ma commented on #52
@wyli , yes, thanks for the reminder.
This is the requirement only for `model-zoo` repo for a "model" in the zoo, not the bundle technical feature.

Thanks.

[2022-07-25 12:17] SachidanandAlle commented on #52
Train jsonnkeys are also mentioned in the readme along with inference (next line)
https://github.com/Project-MONAI/MONAILabel/blob/main/sample-apps/monaibundle/lib/trainers/bundle.py

[2022-07-25 13:35] yiheng-wang-nv commented on #52
Hi @Nic-Ma , sure, I will start for this updates soon.

[2022-07-26 03:51] Nic-Ma commented on #52
Hi @SachidanandAlle ,

I have updated the description with your train part, could you please help confirm which keys can be missing or optional? @MMelQin @ericspod Also need your help to confirm the deploy part.

Thanks in advance.

[2022-07-26 05:31] MMelQin commented on #52
Hi @Nic-Ma I think I first need to make clear and emphasize a few points since I had to drop before the conclusion of the last meeting.
- The standardized key names for pre/post processing, inferer, and config file can be any string that we agree upon. In Deploy App SDK, I had already considered the possible variation/customization, and have a mapping class to customize the literal strings to the

[2022-07-26 20:39] tangy5 opened #64 "New Brain Segmentation Bundle of UNEST Model with Vanderbilt U"
We will add a whole brain segmentation inference bundle with a new type of transformer-based segmentation 3D model.

The whole brain segmentation will contain 133 subclasses of T1w MRI images.

Registration, segmentation pipeline will be included.

This bundle construction will be collaborating with Vanderbilt University MASI lab.

[2022-07-29 06:57] yiheng-wang-nv opened #65 "Design new schema for bundles"
So far, we provided two schemas:
1. https://github.com/Project-MONAI/MONAI-extra-test-data/releases/download/0.8.1/meta_schema_20220324.json
2. https://github.com/Project-MONAI/MONAI-extra-test-data/releases/download/0.8.1/meta_schema_generator_20220718.json

Where, schema 1 is for normal bundles that require to use images as the input, and schema 2 is for generator that require latent input.
The

[2022-07-29 06:59] KumoLiu opened #66 "Brats bundle compatible issue"
**Describe the bug**
Brats bundle is not compatible with 0.9.1.

**To Reproduce**
Infer with the following test command, you will get an error below.
`python -m monai.bundle run evaluating --meta_file configs/metadata.json --config_file configs/inference.json --logging_file configs/logging.conf`

**Error information**
[code]

[2022-07-29 07:20] wyli commented on #66
Could you please include detailed error messages? It'll be useful for the users running into a similar issue.

see also: https://github.com/Project-MONAI/MONAI/discussions/4764

[2022-07-29 14:22] yiheng-wang-nv commented on #65
cc @wyli @ericspod @Nic-Ma

[2022-07-29 14:27] Nic-Ma commented on #65
Hi @ericspod @wyli ,

I remember we aligned to update the latest schema to remove `input` from `required` list directly in the last meeting, but seems here @yiheng-wang-nv is trying to maintain 2 schema files? Or maybe I missed some information?

Thanks in advance.

[2022-07-29 15:59] ericspod commented on #65
As we dicussed I've updated the schema here: https://github.com/Project-MONAI/MONAI-extra-test-data/releases/download/0.8.1/meta_schema_20220729.json

[2022-07-29 16:00] yiheng-wang-nv commented on #65
Updates: may also need to update the contribution guide and tutorial about the schema changes.

[2022-07-29 20:27] tangy5 opened #69 "New Bundle with Renal Substructures Segmentation Inference with UNEST model"
We are going to build a bundle for the kidney substructure segmentation with contrast enhanced CT images.

This will be the first to release a model and an inference pipeline for renal structures segmentation with CTs, the model can be downloaded and used to the public.

Will be the first public inference work on the task.
![Screenshot from 2022-07-29 18-49-52](https://user-images.githubuserconten

[2022-07-30 02:19] tangy5 commented on #66
Hi @KumoLiu This is partly due to the Invertd postprocessing. Please ensure the last preprocessing transform as the Ensuretyped, no the ToTensord.

Or adjusting the preprocessing transforms, some are not invertible.

[2022-07-30 15:26] KumoLiu commented on #66
Hi @tangy5 Thanks for your advice! I just raised this issue to submit the pr to fix the bundle.

[2022-08-01 05:10] yiheng-wang-nv opened #71 "flake8 5.0.1 issue"
flake8 releases 5.0.1 today, and it raises the following issue:
[code]
see: https://github.com/Project-MONAI/model-zoo/runs/7603793727?check_suite_focus=true#step:7:83

I think we may need to fix the version to 4.0.1 so far, and adjust it later.

[2022-08-01 05:13] yiheng-wang-nv commented on #71
Hi @wyli , the issue also happens in `MONAI` repo (https://github.com/Project-MONAI/MONAI/runs/7604721904?check_suite_focus=true#step:7:188), what do you think?

[2022-08-01 07:12] wyli commented on #71
thanks for reporting, I'm going to remove 'flake8-pyi', as we don't write any stub files at the moment.

[2022-08-01 09:38] yiheng-wang-nv commented on #71
Thanks @wyli , I removed it and the issue is fixed.

[2022-08-01 09:44] #71 closed, assigned to nobody

[2022-08-03 14:21] vikashg opened #73 "Breaking Changes due to MetaTensor"
**Describe the bug**
Due to the the incorporation of MetaTensor there are breaking changes in the model zoo format on certain transforms `AddChannel`. There  is an appropriate documentation for the reason of the error

**To Reproduce**
Steps to reproduce the behavior:
1. git clone the monai repo
2. Install using pip install -e '.[all]'
3. Run using the following command
`python -m monai.bundle run

[2022-08-03 14:28] vikashg commented on #73
I just changed the monai version to 0.8.0 in the metadata.json file for the spleen_ct_segmentation, but I get the same errors. That tells me that we do not have a version compatibility check in the monai.bundle run function.

[2022-08-03 14:55] Nic-Ma commented on #73
Hi @vikashg ,

Thanks for your feedback, we don't have check in the `bundle run` function so far.
I didn't see the `AddChannel` transform in the latest spleen bundle now:
https://github.com/Project-MONAI/model-zoo/blob/dev/models/spleen_ct_segmentation/configs/inference.json#L41
Could you please help take a look and try again?

Thanks in advance.

[2022-08-03 15:15] vikashg commented on #73
Hi @Nic-Ma,
Thanks I am working on it now. BTW I tried the following
1. roll back monai to version 0.8.1
2. install `pip install -e '.[all]'`
Now when I run ` python -m monai.bundle run training --meta_file ../model-zoo/models/spleen_ct_segmentation/configs/metadata.json --config_file ../model-zoo/models/spleen_ct_segmentation/configs/train.json  --logging_file ../model-zoo/models/spleen_ct_segmen

[2022-08-03 15:21] wyli commented on #73
have you tried running both `pip uninstall monai` and `pip uninstall monai-weekly` a few times before pip install, sometimes the previous versions of the packages are not uninstalled properly

[2022-08-03 15:22] vikashg commented on #73
Hi @wyli I did uninstall monai but I didnt do `pip uninstall monai-weekly` I will do that.

[2022-08-03 15:26] #66 closed, assigned to nobody

[2022-08-03 23:03] MMelQin commented on #73
There is no monai.bundle before monai v0.9.0, and monai-weekly gets the latest dev version newer than 0.9.1 release.

[2022-08-04 08:12] yiheng-wang-nv opened #75 "Brats bundle is wrongly modified"
the torch version of the bundle is wrong, and the bundle is not checked before merging.

[2022-08-04 08:53] #75 closed, assigned to KumoLiu

[2022-08-04 09:52] yiheng-wang-nv opened #78 "Fix auto upload bundle to release issue"
the current `update-model-info.yml` does not set permissions, thus for a merged PR which is created by a user that does not belong to this repo, the `gh release upload` command will not work. See here: https://github.com/Project-MONAI/model-zoo/runs/7668594460?check_suite_focus=true#step:3:77

[2022-08-04 12:45] #78 closed, assigned to yiheng-wang-nv

[2022-08-04 19:11] SachidanandAlle opened #79 "Separate version and name from model_info.json"
[code]

Instead of having version as part of name.. better to have something like following:
[code]

This will enable users to consume latest version of bundles from name...

[2022-08-04 19:32] tangy5 commented on #79
This is better! Will update this, and check compatibility to other MONAILABEL and bundle scripts.

[2022-08-04 20:06] holgerroth commented on #52
For MONAI-FL, we should consider including
[code]

[2022-08-05 01:35] tangy5 commented on #79
Regarding the bundle version control. If we have the model_info.json as Sachi suggested

[code]
The bundle app main.py needs a simple modification for downloading the correct version bundle ZIP files.

[code]

Then the bundle integration tests (test_infer.py and test_trainer.py) can be for example:
[code]

[code]
If this is good, I will create the modification to above scripts and commit. @Sachida

[2022-08-05 03:33] yiheng-wang-nv commented on #79
Do you mean
[code]

[2022-08-05 03:41] tangy5 commented on #79
This can also be added, if there are more than one version of bundle files corresponding to same bundle name, users have the option to choose the version.

[2022-08-05 05:43] yiheng-wang-nv opened #80 "Enhance ci test to add custom path"
sometimes a bundle may contain some customized code, thus the path should be added when doing the verification.

[2022-08-05 05:44] yiheng-wang-nv commented on #80
for example: @tangy5 's bundle requires to load network from `scripts` folder (https://github.com/Project-MONAI/model-zoo/pull/70)

[2022-08-05 14:02] Nic-Ma commented on #79
Hi @yiheng-wang-nv ,

Your example is not correct, it should a list of dicts, not dict of dicts.
And actually, I think the format of `model_info.json` doesn't affect the user experience of downloading a bundle, right?
If really want to let users download `model_infor.json`, we should maintain this file in the releases instead of source code.
The benefit is that we don't need to submit a separate P

[2022-08-05 15:12] #80 closed, assigned to yiheng-wang-nv

[2022-08-05 15:13] #16 closed

[2022-08-08 13:35] #69 closed, assigned to nobody

[2022-08-09 09:22] yiheng-wang-nv commented on #79
Hi @Nic-Ma , I do not understand here why we need a list of dicts, since we need a dict to ensure that all keys (bundle name) are identical, and to quickly find a target bundle, using list may not be suitable.

[2022-08-09 14:52] Nic-Ma commented on #79
Hi @yiheng-wang-nv ,

I think if you use `dict of dicts`, should use the version number as the key? For example:
[code]
And actually, my main question is: why users will care about this `model_info.json` file? I think it's only used by the CICD?

Thanks in advance.

[2022-08-09 16:39] SachidanandAlle commented on #79
I suggest not to think of version management through this file.. lets keep it simple about this json file.. let this file represent only the current status of the model zoo.. lets not add too many things..

[2022-08-09 16:49] holgerroth commented on #52
Is there any way we can also standardize the validation interval? Currently, one would have to do something like the below assuming the `ValidationHandler` is the first in the list.

[code]

[2022-08-09 16:51] SachidanandAlle commented on #52
Possibly by defining the variable..

[2022-08-09 21:43] holgerroth commented on #52
Another key that's needed is "key_metric"

[2022-08-09 22:20] holgerroth commented on #52
Yes, could be defined at the root level, e.g. `val_interval`.

[2022-08-10 04:52] Nic-Ma commented on #52
I see @holgerroth already added several required bundle keys in:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/fl/utils/constants.py#L38
We will add CI test in the model-zoo repo to ensure all the models must have the expected keys.

Thanks.

[2022-08-11 17:47] holgerroth opened #90 "spleen_ct_segmentation: Evaluation should not save images for FL"
**Describe the bug**
Current evaluation file in https://github.com/holgerroth/model-zoo/blob/dev/models/spleen_ct_segmentation/configs/evaluate.json
saves images.

**To Reproduce**
Steps to reproduce the behavior:
Run evaluation of bundle

**Expected behavior**
Saving images is not desired in FL were we only want to report back the metric.

**Screenshots**
n/a

**Environment**

Ensuring you use th

[2022-08-12 00:37] Nic-Ma commented on #90
Hi @wyli @ericspod ,

Should we consider to remove the `SaveImage` logic in all the existing bundles?
@holgerroth I feel maybe we need more strong method to skip saving if the FL logic, we can't every bundle doesn't save anything during evaluation in the future?

Thanks.

[2022-08-15 00:10] ericspod commented on #90
The intent of these scripts was to define a self-contained program that the users could run to get their results from the network. For these to be useful for both inference on the command line and be used in other contexts we have to have scripts that we can add saving to or some way of filtering out unwanted transforms when used in certain contexts. This was what I did with the deploy code where

[2022-08-15 02:54] yiheng-wang-nv commented on #79
Hi @SachidanandAlle , the initial purpose of this file is to track the changes of models. According to your suggestion, what do you think of adding a new file in release, which only contains the latest version of each bundle. You can use that one for further usage.

[2022-08-15 03:04] SachidanandAlle commented on #79
I am fine with another file..  but what's more helpful is to get the **current** (latest) list of models available in the zoo including their path info etc.. (similar to dir command) without actually downloading/traversing them

[2022-08-15 03:53] Nic-Ma commented on #90
Hi @ericspod ,

Could you please help share the link of your deploy code solution?
Then maybe we can discuss more on @holgerroth 's FL problem.

Thanks in advance.

[2022-08-15 03:57] Nic-Ma commented on #79
Hi @wyli ,

We are discussing to put the `model_info.json` in the releases instead of the source code, for other platforms or users to download as the "manifest" of bundles in the zoo, so it should contain information of all bundles (not only the latest version).
And we don't need to submit a PR anymore every time updated it.
The risk may be: lack of tracking of the change in the file?
What do you

[2022-08-15 07:23] wyli commented on #79
yes I think it's good to maintain a model_info.json in this repo, we should keep all the relevant info in this git repository as much as possible to track any changes.

maybe this feature request is more about providing public APIs for the users to query available models and versions, it should be discussed separately...

[2022-08-15 07:31] Nic-Ma commented on #79
Hi @wyli ,

I agree, we should provide the API to query all the available bundles in the model-zoo and maybe also all the versions of a specific bundle.
Refer to the `download` API:
https://github.com/Project-MONAI/MONAI/blob/dev/monai/bundle/scripts.py#L177

Thanks.

[2022-08-15 12:11] ericspod commented on #90
The current implementation uses [this function](https://github.com/Project-MONAI/monai-deploy-app-sdk/blob/2526579872f95c5b68cbcb0454a0dbba887352d5/monai/deploy/operators/monai_bundle_inference_operator.py#L103) to do the filtering. It relies on implementation details of Compose but otherwise works for a lot of the bundles we'd want to use.

[2022-08-15 12:53] #47 closed, assigned to yiheng-wang-nv

[2022-08-17 12:51] diazandr3s opened #95 "ONNX model connector"
Are we considering creating a [ONNX](https://github.com/onnx/models) connector for MONAI Bundle? This potentially boost MONAI and MONAI Label usability.

[2022-08-17 15:40] Nic-Ma commented on #95
Hi @diazandr3s ,

Thanks for raising it.
Actually, ONNX and TorchScript are optional models in a bundle, you can check:
https://docs.monai.io/en/latest/mb_specification.html#directory-structure

Thanks.

[2022-08-17 16:43] diazandr3s commented on #95
Superb! Thanks, @Nic-Ma I missed this part
Is there any tutorial that we can use as a reference? A MONAI Label user wants to export an ONNX model that also includes functions that are not in MONAI
Maybe this should be part of a discussion rather than an issue? :)

[2022-08-17 16:55] Nic-Ma commented on #95
Hi @diazandr3s ,

@binliunls is developing some `TorchScript -> ONNX` script, will share it soon.
And @ericspod may also have some examples.

Thanks.

[2022-08-18 13:38] ericspod commented on #95
I had only briefly experimented with ONNX in the past when discussing Torchscript behaviour: https://gist.github.com/ericspod/65809935adf783c17bdcf19c5568f0fe

[2022-08-18 16:54] diazandr3s commented on #95
Thanks, @ericspod

[2022-08-19 06:37] yiheng-wang-nv opened #97 "The update model info function uses wrong branch name"
The merged PR number should not be included in the branch name, since now we changed to trigger on schedule or manually (previously is triggered after each PR is merged).

Error is:
https://github.com/Project-MONAI/model-zoo/runs/7912572789?check_suite_focus=true

[2022-08-19 07:36] #97 closed, assigned to yiheng-wang-nv

[2022-08-22 06:26] yiheng-wang-nv opened #98 "SSL error in premerge ci test"
https://github.com/Project-MONAI/model-zoo/runs/7914898236?check_suite_focus=true#step:2:199

[2022-08-22 11:46] numanai commented on #69
How can we download the pretrained weights? Thanks

[2022-08-22 14:40] #98 closed, assigned to nobody

[2022-08-22 15:34] yiheng-wang-nv commented on #69
Hi @numanai , you can use: `https://github.com/Project-MONAI/MONAI/blob/dev/monai/bundle/scripts.py#L174` to download the bundle you interest.

[2022-08-23 02:42] #90 closed, assigned to holgerroth

[2022-08-23 09:11] numanai commented on #69
Thank You!

[2022-08-24 16:27] kbressem opened #101 "Add pretrained model for zonal segmentation in prostate MRI"
## Motivation
I would like to contribute a 3d segmentation model for prostate MRI. The model, based on U-Net, segments the central gland and peripheral zone in axial T2w images.

## Sources
Paper for the model can be found here: https://doi.org/10.1016/j.compbiomed.2022.105817
GitHub repository is here: https://github.com/kbressem/prostate158
Weights are here: https://doi.org/10.5281/zenodo.639705

[2022-08-25 06:57] yiheng-wang-nv opened #103 "Add the requirements of path for bundles"
It's better to avoid using customized paths with the config file (such as: "bundle_root": "/home/Documents/model-zoo/models")

[2022-08-25 07:04] Nic-Ma commented on #103
I think we can suggest: `"bundle_root": "/workspace/data/<bundle name>"`.

Thanks.

[2022-08-25 13:41] wyli commented on #34
addressed by updating the code formatter logic. https://github.com/Project-MONAI/monai-code-formatter/actions/runs/2926956836

[2022-08-25 13:41] #34 closed, assigned to yiheng-wang-nv

[2022-08-25 13:42] wyli commented on #64
closing via https://github.com/Project-MONAI/model-zoo/pull/84

[2022-08-25 13:42] #64 closed, assigned to nobody

[2022-08-25 14:46] #103 closed, assigned to yiheng-wang-nv

[2022-08-25 19:33] holgerroth opened #107 "brats mri example mentions spleen in metadata.json"
https://github.com/Project-MONAI/model-zoo/blob/5c029874e261ad73473f2c2fbae5ed40da7aadb2/models/brats_mri_segmentation/configs/metadata.json#L75

[2022-08-27 09:03] kbressem commented on #101
PR for issue #102

[2022-08-31 08:32] wyli opened #111 "sharing schema.json to avoid repeated downloading"
**Is your feature request related to a problem? Please describe.**
it may run out of API request limit to download the schema file
[code]
the schema.json could be shared across the model zoo items to avoid repeated downloading https://github.com/Project-MONAI/model-zoo/blob/db6ce75b4df89c76117d2b8eccc94e0495cf24ed/ci/verify_bundle.py#L89

[2022-09-02 22:10] #101 closed, assigned to nobody

[2022-09-09 09:31] yiheng-wang-nv commented on #79
This ticket is addressed in: https://github.com/Project-MONAI/MONAI/pull/4994

[2022-09-09 09:31] #79 closed, assigned to Nic-Ma, tangy5

[2022-09-09 09:48] yiheng-wang-nv commented on #52
Hi @holgerroth , `key_metric` is not an argument of monai engine, thus none of the bundle has this key name.

[2022-09-09 13:59] holgerroth commented on #52
I was referring to [this](https://github.com/Project-MONAI/model-zoo/blob/30b31f6f0c19d1f587f2037fd3f261a93bd1ea66/models/spleen_ct_segmentation/configs/train.json#L257) section of the bundle.

[code]

[2022-09-13 10:36] yiheng-wang-nv commented on #52
I see, that's "train#key_metric", thanks @holgerroth

[2022-09-13 12:43] binliunls opened #119 "Surgical Tool Segmentation Bundle"
**Is your feature request related to a problem? Please describe.**
Surgical tool segmentation is very useful in endscope videos. It can highlight the surigical tools from body tissue and help doctors to localize tools.

**Describe the solution you'd like**
A sugical tool segmentation bundle and models to implement:

1. Tool segmentation training
2. Tool segmentation inference
3. Tool Segmentation

[2022-09-13 14:45] holgerroth commented on #52
Yes, and "validate#key_metric"

[2022-09-14 01:35] Nic-Ma commented on #52
Mark: @yiheng-wang-nv is working on a PR in the model-zoo repo to enable keywords check for all the **typical supervised classification and segmentation models**: https://github.com/Project-MONAI/model-zoo/pull/116

Thanks.

[2022-09-14 08:01] yiheng-wang-nv commented on #52
Now the PR has been finished and wait for review, what I changed include "wrongly" used names, and related CI tests.
However, I think most of the requirements above mentioned are optional requirements, and we can only require users to **use suitable names if the corresponding components are used**.
For example:

1. the following bundles do not have "train" and "validate" sections:

[code]
Therefor

[2022-09-14 08:20] Nic-Ma commented on #52
Hi @yiheng-wang-nv ,

Thanks for the summary. As I mentioned in the previous comment, I think you only need to verify keywords for "typical supervised classification and segmentation models", you can maintain the list of bundle to run tests, right?

Thanks.

[2022-09-19 04:19] yiheng-wang-nv commented on #111
Thanks @wyli , does the error happen when there are multiple bundles are changed in a PR (thus the same schema is downloaded multiple times) ?

[2022-09-19 07:11] wyli commented on #111
@yiheng-wang-nv, I'm not able to always replicate this issue, sometimes it happens

[2022-09-20 02:15] yiheng-wang-nv commented on #107
Thanks @holgerroth , I will fix this issue asap.

[2022-09-20 06:34] #107 closed, assigned to yiheng-wang-nv

[2022-09-21 06:33] binliunls opened #135 "In-body out-body classification bundle"
**Is your feature request related to a problem? Please describe.**
A in-body out-body classification bundle is a classfication bundle for endoscope scenario. This bundle should be able to discriminate whether a frame from endoscope video is in body. With the help of  this bundle, only in body videos can be used to do some extra works like detection and segmentation, in order to protect the privacy

[2022-09-26 08:01] wyli opened #140 "clarify the pre-trained models licensing"
### Discussed in https://github.com/Project-MONAI/model-zoo/discussions/139

<div type='discussions-op-text'>

<sup>Originally posted by **dyollb** September 26, 2022</sup>
I was looking at the pre-trained model https://github.com/Project-MONAI/model-zoo/tree/dev/models/wholeBrainSeg_Large_UNEST_segmentation to see what the license condition is for the pre-trained model. Is this model (and all oth

[2022-09-28 16:17] Nic-Ma opened #142 "Add multi-gpu evaluation config for spleen bundle"
**Is your feature request related to a problem? Please describe.**
Currently, we only have multi-gpu config for the training, would be necessary to also add multi-gpu evaluation and multi-gpu inference. Raised by @holgerroth .

[2022-09-30 17:13] holgerroth opened #144 "spleen_ct_segmentation doesn't save tensorboard or models during multi-gpu training"
**Describe the bug**
When running with torchrun command, no tensorboard or models training are saved.

**To Reproduce**
Run using
[code]
No `eval` folder is generated.

**Expected behavior**
tb and models should be saved.

**Screenshots**
Folder structure after completed training
[code]

**Environment**

monai 1.0.0 container

[code]

**Additional context**
n/a

[2022-10-03 14:11] Nic-Ma commented on #144
Hi @yiheng-wang-nv ,

Could you please help confirm and fix the issue in model-zoo?

Thanks in advance.

[2022-10-03 17:28] holgerroth opened #146 "Is --standalone option needed for torchrun?"
**Describe the bug**
The `--standalone` option can cause networking issues in certain environments, e.g. cluster. Consider removing it from the bundle docs.

**To Reproduce**
Steps to reproduce the behavior:
Running in cluster environment can cause network timeout when using the `--standalone` option:
[code]

**Expected behavior**
Remove the option from the instructions.

**Screenshots**
If applic

[2022-10-04 04:09] zephyrie opened #147 "403 Client Error when using MONAI Bundle helper functions"
**Describe the bug**
Getting a 403 Client Error when using the MONAI Bundle commands to generate the Model Zoo page.

Error:
403 Client Error: rate limit exceeded for URL: https://api.github.com/repos/Project-MONAI/model-zoo/releases

**To Reproduce**
Steps to reproduce the behavior:
1. Call the MONAI Bundle "get info" functions repeatedly
2. After a certain amount of calls, it will run into the e

[2022-10-04 04:15] zephyrie opened #148 "Display name for Models in metadata JSON"
**Is your feature request related to a problem? Please describe.**
A display or "pretty" name for each Model in the metadata.json and adding a requirement that all future models also need a display name.

**Describe the solution you'd like**
Add display names to each of the current MONAI Models metadata JSON so that we have the preferred name being displayed in the Model Zoo.

**Describe alternati

[2022-10-04 11:06] ericspod commented on #148
For some of the models we can use title case and figure out some acronyms but in general a "title" tag in the metadata would help here.

[2022-10-04 14:10] Nic-Ma commented on #146
Hi @holgerroth ,

I think this option is used to simplify the command for `rendezvous backend`:
https://github.com/pytorch/pytorch/blob/master/torch/distributed/run.py#L739
@yiheng-wang-nv could you please help investigate more about it?

Thanks in advance.

[2022-10-04 14:28] Nic-Ma commented on #147
Hi @yiheng-wang-nv ,

Could you please help confirm and fix it? Seems like an issue.

Thanks in advance.

[2022-10-05 16:58] vikashg opened #149 "Create a new breast density classification bundle"
**Describe the solution you'd like**
A monai bundle for breast density classification

**Additional context**
I goofed my previous pull request so this is a new pull request.

[2022-10-08 03:57] yiheng-wang-nv commented on #111
Updates:

I met the same issue when running blossom CI tests for multiple bundles
(https://github.com/Project-MONAI/model-zoo/actions/runs/3209040893/jobs/5245429001#step:2:784)

I will create a PR to fix this issue first.

[2022-10-08 04:03] yiheng-wang-nv commented on #111
related topic:
https://github.com/community/community/discussions/8535

[2022-10-08 05:13] Nic-Ma commented on #144
Hi @holgerroth ,

I think maybe your `bundle_root` in the config is not correct?

Thanks.

[2022-10-08 07:41] yiheng-wang-nv commented on #146
Hi @holgerroth , in this case, does remove `--standalone` option solve the issue? and what is the full command that raise the issue?

[2022-10-08 09:33] #140 closed, assigned to nobody

[2022-10-08 09:45] #142 closed, assigned to Nic-Ma

[2022-10-08 09:47] yiheng-wang-nv commented on #111
This ticket is addressed within #141

[2022-10-08 09:47] #111 closed, assigned to nobody

[2022-10-08 10:24] yiheng-wang-nv opened #153 "Update model info error"
Due to the gdown library version issue, I modified the `requirements.txt` in #141 , and it introduces the issue in: https://github.com/Project-MONAI/model-zoo/actions/runs/3209967081

[2022-10-08 10:35] #153 closed, assigned to yiheng-wang-nv

[2022-10-10 06:49] yiheng-wang-nv commented on #147
Thanks @zephyrie , I checked the official doc about the rate limits (https://docs.github.com/en/rest/overview/resources-in-the-rest-api#oauth2-token-sent-in-a-header), it's good to add the authentication option within the helper functions.
I will create a PR in MONAI repo to address it.

[2022-10-11 02:31] #147 closed, assigned to yiheng-wang-nv

[2022-10-11 03:31] holgerroth commented on #146
Yes, removing the option resolved it on our cluster. The command that caused the issue is the same as in the instructions. Hence, I think we should consider removing this option.
________________________________
From: Yiheng Wang ***@***.***>
Sent: Saturday, October 8, 2022 11:41:12 AM
To: Project-MONAI/model-zoo ***@***.***>
Cc: Holger Roth ***@***.***>; Mention ***@***.***>
Subject: Re: [Project

[2022-10-12 09:45] yiheng-wang-nv opened #156 "Put load and save out of `preprocessing` and `postprocessing`"
So far, image loading is in `preprocessing` and prediction saving is in `postprocessing`. To make the script more flexible for further use (such as for MONAI deploy, MONAI Label), it's better to decouple them from processing steps.

[2022-10-12 09:46] yiheng-wang-nv commented on #156
I will submit a PR to modify the `inference.json` of the `spleen_ct_segmentation` bundle first.

[2022-10-12 10:09] Nic-Ma commented on #156
CC @SachidanandAlle @MMelQin @holgerroth

Thanks.

[2022-10-12 21:46] tangy5 opened #157 "Add Nuclick Nuclei segmentation bundles"
A Nuclick interactive nuclei segmentation bundle and models to implement:

- [ ] Nuclick Nuclei segmentation bundle with BasicUNET, train, inference, evaluate [ETA: Nov 1st]
- [ ] Nuclick Nuclei segmentation bundle with HoVerNet, train, inference, evaluate (pending on HoVerNet)
- [ ] Performance evaluation with BasicUNet and HoVerNet. Panuke dataset will be used.

[2022-10-13 02:35] Nic-Ma opened #158 "Improve multi-gpu evaluation for caching and logging"
**Is your feature request related to a problem? Please describe.**
Thanks for the feedback from @holgerroth :
I'm running the FL clients with up to 8 gpus in parallel now. So, at least the execution seems to be working fine now. However, I wonder about how this DistributedSampler is implemented [https://github.com/Project-MONAI/model-zoo/blob/0367326a85882302331fef757228d84e0a[…]c/models/spleen_ct

[2022-10-13 08:48] #158 closed, assigned to Nic-Ma

[2022-10-14 02:49] #119 closed, assigned to nobody

[2022-10-14 03:16] #135 closed, assigned to nobody

[2022-10-14 03:22] yiheng-wang-nv commented on #73
Hi @vikashg , so far is the issue solved? It seems this ticket can be closed.

[2022-10-14 17:10] ericspod commented on #65
One solution is to define generic schemas which can handle any input/output names with "patternProperties" in place of "properties":

[code]

[2022-10-14 18:21] vikashg commented on #73
Yes I agree.

[2022-10-14 18:21] #73 closed, assigned to rijobro

[2022-10-16 22:07] AbdelrahmanShakerYousef opened #164 "Mismatch for UNETR FLOPs between UNesT and UNETR papers"
Hello, I have a question please regarding your UNesT paper: https://arxiv.org/pdf/2209.14378.pdf

In Table 2, you mentioned that for an input size of 96x96x96 UNETR has params of 92.6M and FLOPs of 268.0G. However, in UNETR paper in Table 5, the authors mentioned that the number of params is 92.6M but the FLOPs are 41.19G, with the same input size of 96x96x96. Could you please clarify that?

Thank

[2022-10-17 03:08] Nic-Ma commented on #164
Hi @tangy5 ,

Could you please help share some details here?

Thanks in advance.

[2022-10-17 05:23] tangy5 commented on #164
Hi @AbdelrahmanShakerYousef , thanks for the question, very appreciative for the interest of the UNesT work. I can provide details on how the numbers are got in the UNesT, the  number showed in UNesT are not taken directly from other papers such as UNETR. We measured all independently and under exact same experiment setting in evaluating the whole brain segmentation data. All numbers in UNesT are

[2022-10-17 07:27] AbdelrahmanShakerYousef commented on #164
Thank you @tangy5 for clarification, but what do you mean by "evaluating the whole brain segmentation data"?

Isn't it just the FLOPs for a single input volume of 96 × 96 × 96 ?

[2022-10-17 07:56] hanoonaR opened #165 "UNesT Code for BTCV"
Hi,

Recently came across your latest model UNeST, and impressive results on Multi-organ segmentation. But the model zoo does not provide any support for the BTCV organ segmentation task (Table. 5) in the paper.

Could you please release support for UNesT for the BTCV dataset?

Thank you.

[2022-10-17 07:59] Nic-Ma commented on #165
Hi @tangy5 ,

Could you please help share some details about the question?

Thanks in advance.

[2022-10-17 16:16] tangy5 commented on #164
It is calculated with tensor input: [1,1,96,96,96], the FLOPS should only relate to input size, models. The whole brain segmentation data means the FLOPS are got from our practice. Thanks.

[2022-10-18 09:46] Asma-Alkhaldi opened #166 "Lung Nodule detection (Inference)"
I have followed the instructions to do the inference but I have three questions:
1- The output I got having three main things:
- the ground truth coordinates
- label
- image name
I’m wondering why the label is always zero? but some images have two zeros and some have more? can you please elaborate more on this part?

2- The inference is working only on the raw data (The unprocessed images), while

[2022-10-18 11:31] Nic-Ma commented on #166
Hi @Can-Zhao ,

Could you please help share some details about this question?

Thanks in advance.

[2022-10-18 14:17] Can-Zhao commented on #166
Thank you for reaching out.

1. The label is always zero because 0 represents lung nodule. This is the only foreground class. The coordinates you got is not ground truth. Instead it is the predicted coordinates of nodules. When there are more than one 0, it means it predicts more than one nodules.

2. I was wondering if you did resampling following the description in Sec. 3.1 of https://github.com

[2022-10-18 16:31] Asma-Alkhaldi commented on #166
Thank you for your fast response

1- clear.

2- Yes I did the same preprocessing in 3.1 and the inference didn't work, I also check "affine_lps_to_ras": true and make sure it is true, I also added this line "affine_lps_to_ras": true in "_target_": "LoadImaged" and still the the inference is not working :/ !
The error message: RuntimeError: Could not create IO object for reading file /data/1.3.6.1.

[2022-10-18 16:56] tangy5 commented on #165
Hi @hanoonaR Thank you so much for the interests for the UNesT model. About the BTCV release in Model-Zoo, since there are already SwinUNETR model for BTCV, it's the same dataset: https://github.com/Project-MONAI/model-zoo/tree/dev/models/swin_unetr_btcv_segmentation
So we don't have a plan to release UNesT for BTCV in Model-Zoo, the BTCV training is pretty similar to this bundle: https://github.c

[2022-10-18 21:01] Can-Zhao commented on #166
No worries, I'm happy to get feedback and answer the questions.

2. From the error message, I can see the image is very likely to be the raw image, not the resampled image...Because the resampled image should be nifti. I updated the json files in https://github.com/Can-Zhao/model-zoo/tree/detection/models/lung_nodule_ct_detection/configs Could you try inference.json for resampled nifti images or i

[2022-10-20 06:05] Asma-Alkhaldi commented on #166
2- The images are resamples, but I explicitly convert them from nifti to mhd after doing the resampling because your code is only reading mhd format. did you test the inference ?

3- I added the name of the new data and I have the same issue.
ValueError: Data list validation not specified in "/annotation/dataset_fold0.json".

Also, I noticed in the inference.json line 8 ("output_dir") it should pu

[2022-10-20 06:26] #164 closed, assigned to nobody

[2022-10-20 15:02] Can-Zhao commented on #166
2- Yes, I tested it with nifti. The code should be able to read nifti.

3- This is weird...I created an empty ./eval folder, and it works. Also, I just removed the "box" and "label" in the data list json file and tested the code. It works well. The code is not structured to read the ground truth. In your "/annotation/dataset_fold0.json", is there a key called "validation"? (ctrl +F validation)

Co

[2022-10-24 14:22] #166 closed, assigned to nobody

[2022-10-26 08:31] yiheng-wang-nv commented on #149
THanks @vikashg , I will close this issue since #150 is merged.

[2022-10-26 08:31] #149 closed, assigned to vikashg

[2022-10-26 08:46] yiheng-wang-nv opened #170 "Check license of `breast_density_classification` bundle"
Hi @vikashg , the initial PR of your bundle has just been merged, thanks for the contribution. Recently, we made some changes of the license format, and each bundle may include two license files: one for the bundle itself, the other is for the related dataset (optional).
Since the changes happened after you finished the main part of the bundle, I thought put a new PR to address this issue is more

[2022-10-26 14:04] vikashg commented on #170
HI @yiheng-wang-nv. I added the apache license as was instructed in the contributions section. Do I need to change it? Yes I can confirm that the bundle follows the apache license " that software for any purpose, to distribute it, to modify it, and to distribute modified versions of the software under the terms of the license, without concern for royalties"
The data contained is just JPEG images s

[2022-10-26 17:12] vikashg commented on #170
Another question @yiheng-wang-nv  Do I need to "build" the documentation so it shows up on the webpage ?

[2022-10-26 19:06] YipengHu opened #171 "Adding registration model for pelvic MR images"
**Is your feature request related to a problem? Please describe.**
Adding an example of trained registration network

**Describe the solution you'd like**
With standard segmentation-driven methods, weakly supervising registration, with or without unsupervised loss

**Describe alternatives you've considered**
Unsupervised registration

**Additional context**
Using public data set: https://zenodo.or

[2022-10-27 02:10] yiheng-wang-nv commented on #170
Hi @vikashg , @zephyrie helps to show the doc on the webpage, and the content is extracted from your bundle's metadata and readme files. Therefore, if you'd like to supplement more information, you just need to update these two files.

As for the license part, thanks for the explain, and I will submit a PR to address them.

[2022-10-27 06:32] wyli commented on #171
Thank you, would be great if this is made available in early December when monai v1.1 is announced...

[2022-10-27 10:05] kate-sann5100 commented on #171
At this point, a baseline model without bending energy has been trained on the public cross-institution lower-pelvic multi-structure dataset. With sensible qualitative results and an average dice score around 0.50, the performance indicates the feasibility of the task. The training of the new version with bending energy has been started to fix the significant non-smoothing behaviour. Hopefully we

[2022-10-27 10:37] yiheng-wang-nv commented on #171
Thanks @YipengHu @kate-sann5100 . If meeting any issues when preparing the bundle, feel free to ask me.

[2022-10-28 09:16] wyli opened #172 "LICENCE file should be in its original content"
**Describe the bug**

 there are modified LICENCE sections in some of the bundles, are they typos?

https://github.com/Project-MONAI/model-zoo/blob/c5789e2922b65d049ea030594d890d16502d8303/models/brats_mri_segmentation/LICENSE#L189-L195

https://github.com/Project-MONAI/model-zoo/blob/c5789e2922b65d049ea030594d890d16502d8303/models/pancreas_ct_dints_segmentation/LICENSE#L189-L195

[2022-10-31 10:00] #170 closed, assigned to nobody

[2022-10-31 10:01] #172 closed, assigned to yiheng-wang-nv

[2022-11-01 09:18] yiheng-wang-nv commented on #146
Update: I discussed with @holgerroth , and since the `standalone` option is just within the examples section and is also used in pytorch's doc of single-node multi-worker example (https://pytorch.org/docs/stable/elastic/run.html#single-node-multi-worker), here it will not be removed. However, it may introduce some issues if the machine user used is not matched with this option, I will  submit a PR

[2022-11-01 09:50] yiheng-wang-nv commented on #146
Update: I discussed with @holgerroth , since the `standalone` option is just within the `commands example` section for instance, and it is also used in pytorch's doc of single-node multi-worker example (https://pytorch.org/docs/stable/elastic/run.html#single-node-multi-worker), here it will not be removed.

However, it may introduce some issues if the machine that a user used is not matched with t

[2022-11-01 14:44] #146 closed, assigned to yiheng-wang-nv

[2022-11-03 09:03] yiheng-wang-nv opened #178 "Update Brats bundle to use monai 1.0.1"

[2022-11-04 06:49] yiheng-wang-nv opened #180 "Update Bundles to use MONAI 1.0.1 and pytorch 1.13.0"
The following bundles need to be updated into using MONAI 1.0.1 and Pytorch 1.13.0:
`brats_mri_segmentation` @yiheng-wang-nv
`lung_nodule_ct_detection` @Can-Zhao
`pancreas_ct_dints_segmentation` @dongyang0122
`pathology_tumor_detection` @drbeh
`spleen_ct_segmentation` @yiheng-wang-nv  (cannot find yufan's account, I already checked it)
`spleen_deepedit_annotation` @diazandr3s
`swin_unetr_btcv_segm

[2022-11-04 07:05] yiheng-wang-nv commented on #178
this issue is covered in #180 I will close this one.

[2022-11-04 07:05] #178 closed, assigned to yiheng-wang-nv

[2022-11-04 15:34] wyli opened #181 "using the original labels, instead of inverted transformed labels for evaluation"
Currently quite a few bundles use
the inverted version of preprocessed original labels as the reference during evaluation:

https://github.com/Project-MONAI/model-zoo/blob/987f49fe9e0f20f047a2252c1ace38bd760cfb33/models/spleen_ct_segmentation/configs/evaluate.json#L12-L21

which is different from the approach taken in the tutorial using the original label directly during evaluation (https://github

[2022-11-04 16:47] dongyang0122 commented on #181
It is necessary to validate without modifying the label data for (almost) all models in the model zoo.

[2022-11-04 19:07] tangy5 commented on #180
Hi @yiheng-wang-nv , let me use this issue for the changes so that we won't bother too many tickets.
Swin Unetr bundle should be good with monai 1.0.1 and pytorch 1.13.0. Some updates here: https://github.com/Project-MONAI/model-zoo/pull/182
Thanks.

[2022-11-07 07:43] Nic-Ma opened #185 "Missing files in the pathology bundle"
**Describe the bug**
I read the README doc of Pathology bundle and it says something about  “configs/environment.json” and “prepare_inference_data.sh”:
https://github.com/Project-MONAI/model-zoo/tree/dev/models/pathology_tumor_detection#data-preparation
But actually I didn’t find these 2 files in the configs of the bundle.

[2022-11-07 07:47] yiheng-wang-nv commented on #185
Hi @drbeh , I think this ticket can be resolved with monai 1.0.1 and torch 1.13.0 together (as mentioned in #180 ), thanks in advance!

[2022-11-08 06:40] yiheng-wang-nv opened #186 "404 error of link in `endoscopic_inbody_classification` bundle"
The link of 20 samples for the bundle seems failed

https://drive.google.com/uc?id=1rQQfHcZFs74OG0uJsL4vg7YqMWXV-s4k

[2022-11-08 06:41] yiheng-wang-nv commented on #186
Hi @binliunls  may need your help to double confirm it, thanks in advance!

[2022-11-08 06:57] binliunls commented on #186
Hi @yiheng-wang-nv ，
     Thank you for your feedback. The samples have been uploaded to monai and the link is shown below.
     https://github.com/Project-MONAI/MONAI-extra-test-data/releases/download/0.8.1/inbody_outbody_samples.zip
Thanks,
Bin

[2022-11-08 08:15] binliunls commented on #180
Hi @yiheng-wang-nv ,
      I have run endoscopic_inbody_classification and endoscopic_tool_segmentation bundles. They work fine with monai 1.0.1 and pytorch 1.13.0.
Thanks,
Bin

[2022-11-08 09:14] yiheng-wang-nv opened #188 "Enhance endoscopic bundles via preparing ways to run with sample data"
As for `endoscopic_inbody_classification`, it would be better to prepare a script for users to create datalist (as https://github.com/Project-MONAI/model-zoo/blob/dev/models/brats_mri_segmentation/scripts/prepare_datalist.py does)

As for `endoscopic_tool_segmentation`, it would be nice to provide a way for users to process the dataset from https://endovissub2017-roboticinstrumentsegmentation.gran

[2022-11-08 09:14] yiheng-wang-nv commented on #188
Hi @binliunls , may need your help for the enhancement, thanks in advance @binliunls
cc @Nic-Ma

[2022-11-08 11:44] #180 closed, assigned to yiheng-wang-nv

[2022-11-09 02:43] #186 closed, assigned to binliunls

[2022-11-09 02:45] yiheng-wang-nv commented on #185
This part has been resolved in https://github.com/Project-MONAI/model-zoo/pull/187 thus just need to figure out the 2 missing files.

Another thing that need to be addressed is that there are some "MMAR" related descriptions in the readme file, may need @drbeh 's help to correct them, thanks in advance!

[2022-11-09 03:10] yiheng-wang-nv commented on #188
In addition, better to rename `readme.md` to `README.md` to align with other bundles.

[2022-11-10 03:46] yiheng-wang-nv opened #191 "Update the figure used in `swin_unetr_btcv_segmentation`"
The figure used in the bundle has been uploaded into:
https://developer.download.nvidia.com/assets/Clara/Images/monai_swin_unetr_segmentation_val.png

[2022-11-10 06:03] #191 closed, assigned to yiheng-wang-nv

[2022-11-10 14:29] yiheng-wang-nv opened #194 "Add dice score for `spleen_deepedit_annotation`"
There is no performance related descriptions in the readme file of the bundle `spleen_deepedit_annotation`, I think it is an useful information for users.
Hi @diazandr3s , could you please help to add this part based on the trained weights? Thanks in advance.
It may also need to supplement the `evaluate.json` (can refer to: https://github.com/Project-MONAI/model-zoo/blob/dev/models/spleen_ct_segme

[2022-11-10 19:00] #185 closed, assigned to bhashemian

[2022-11-11 08:47] yiheng-wang-nv opened #199 "Supplement the way to get dataset for `lung_nodule_ct_detection`"
It seems the dataset link is missing in the website:
https://luna16.grand-challenge.org/data/
Instead, [this page](https://luna16.grand-challenge.org/Download/  ): shows can get data from: https://doi.org/10.5281/zenodo.2595812
However, there are multiple files, and users may not sure which to download and how to achieve the final dataset to run the bundle.

Hi @Can-Zhao , is it possible to enhanc

[2022-11-11 21:26] wyli commented on #171
I'm working on a 2d demo in case it's useful here https://github.com/Project-MONAI/model-zoo/pull/201

[2022-11-14 23:42] #165 closed, assigned to nobody

[2022-11-15 05:16] #188 closed, assigned to binliunls

[2022-11-15 05:30] yiheng-wang-nv commented on #181
Hi @Nic-Ma @wyli , to avoid maintaining duplicate spleen bundles in tutorial and model zoo, should we remove the one in the tutorial, and add a step in the readme file of tutorial to do "download from model zoo"?

[2022-11-15 05:38] Nic-Ma commented on #181
Hi @yiheng-wang-nv ,

I think that's OK, and just put a link to the source code of spleen bundle in the model-zoo.
@wyli What do you think?

Thanks.

[2022-11-15 08:46] wyli commented on #181
sure, i think it'll be a separate new feature request in the tutorial repo, or is it related to this issue?

[2022-11-15 08:48] wyli commented on #181
(this `device='cpu'` fix will be needed for `Invertd` https://github.com/Project-MONAI/tutorials/pull/1042 for the monai v1.1 bundles)

[2022-11-15 09:26] yiheng-wang-nv commented on #181
Yes, it should be a separate new feature request in the tutorial repo, I just created one: https://github.com/Project-MONAI/tutorials/issues/1043

As for the issue of using inverted labels, may need further discussions with @Nic-Ma @daguangxu @dongyang0122 @wyli

[2022-11-16 06:31] #194 closed, assigned to diazandr3s

[2022-11-16 10:42] yiheng-wang-nv commented on #181
For the issue, I checked and the following bundles need to be updated:
1. `spleen_ct_segmentation` (invert transformed labels for evaluation)
2. `endoscopic_tool_segmentation` (no invert in postprocessing)
3. `pancreas_ct_dints_segmentation` (invert transformed labels for evaluation)
4. `spleen_deepedit_annotation` (no invert in postprocessing)
5. `swin_unetr_btcv_segmentation` (invert transformed

[2022-11-17 08:01] mingxin-zheng commented on #181
Hi @wyli , I don't fully understand this requirement of `device='cpu'`. Would you mind explaining a bit more, for example, if we don't set it to `cpu`, will it break something in the spleen segmentation tutorial?

[2022-11-17 08:29] wyli commented on #181
yes, it will raise this error when computing metrics: https://github.com/Project-MONAI/tutorials/issues/1041

[2022-11-17 12:23] mingxin-zheng commented on #181
@wyli Thanks!

[2022-11-17 13:22] wyli opened #208 "duplicate blossom cpu premerge tests on github"
**Is your feature request related to a problem? Please describe.**
the cpu-based premerge tests can be triggered by creating a pull request, and is useful as a prefiltering of any code issues.

[2022-11-17 15:04] wyli opened #209 "requires either `network` or `network_def` but not both?"
**Is your feature request related to a problem? Please describe.**
the requirements are both `network` and `network_def` keys:

https://github.com/Project-MONAI/model-zoo/blob/c4752051e315917089f098651e13776bac92630b/ci/verify_bundle.py#L30-L31

I think the contents for these keys are duplicated, perhaps we can make  `network_def` optional

[2022-11-17 15:42] Nic-Ma commented on #209
Hi @wyli ,

Do you have any proposal idea to simplify the config? For example:
[code]

Thanks.

[2022-11-17 16:03] wyli opened #210 "verify_bundle_keys to not 'failfast'"
**Is your feature request related to a problem? Please describe.**
https://github.com/Project-MONAI/model-zoo/blob/c4752051e315917089f098651e13776bac92630b/ci/verify_bundle.py#L121

currently the testing pipeline fails and reports on the first missing keyword for the config.

would be great to report as many as possible all the missing keywords in one test and save the developers' time...

[2022-11-17 16:04] wyli commented on #210
do you have time to enhance this? @yiheng-wang-nv

[2022-11-17 16:44] #208 closed, assigned to wyli

[2022-11-17 16:51] Nic-Ma commented on #209
Hi @SachidanandAlle ,

I think the initial requirements of these 2 keys is from MONAI Label, but I see you changed the const strings now.
Do you still need both the 2 keys existing in a bundle?

Thanks in advance.

[2022-11-17 17:59] SachidanandAlle commented on #209
I don't think monailabel had this requirement.. @tangy5 can you double check.. we can live with one..

[2022-11-17 18:08] tangy5 commented on #209
MONAI Label made changes according to bundle network definitions, now uses both two. But I think we can use one key instead.

If we merge the two keys together, we can change to left one in MONAI Label.

https://github.com/Project-MONAI/MONAILabel/blob/9a37fab1abe8a9374505e9e0e174f88cbd3a0897/monailabel/tasks/infer/bundle.py#L49

https://github.com/Project-MONAI/MONAILabel/blob/9a37fab1abe8a937450

[2022-11-18 06:20] yiheng-wang-nv opened #215 "Update inference file on `brats_mri_segmentation`"
The output format of the inference should be align with evaluate.

[2022-11-18 08:06] #215 closed, assigned to yiheng-wang-nv

[2022-11-18 08:14] wyli commented on #209
sure, I think we can make it simple and consistent, and use `network_def` only, I'll make the change to remove the requirement for `network` in the model zoo.

[2022-11-18 08:20] tangy5 commented on #209
Sure, let me know if this is merged, we need to make changes to MONAI Label and have some tests.

Thank you!

[2022-11-18 08:29] tangy5 commented on #209
HI @wyli, one question, if we remove key "network", will all bundles need to update accordingly?

[2022-11-18 08:35] wyli commented on #209
I don't think so @tangy5, we just don't assume there's `network` key when work with the bundles, and new bundles may not contain this key.

[2022-11-18 15:11] yiheng-wang-nv opened #222 "Update figures for brats bundle"

[2022-11-18 17:54] myron opened #231 "Add an option to run inference based on torchscript weights in model.ts"
Add an option to run inference based on torchscript weights model.ts

Currently it's always using model.pt weights

[2022-11-18 17:56] Nic-Ma commented on #231
Example steps:
1. Remove or disable the `CheckpointLoader`.
2. Change the `network_def` to `"network_def": "$torch.jit.load(<your own path>)"`.

Thanks.

[2022-11-19 00:53] #222 closed, assigned to nobody

[2022-11-19 00:57] yiheng-wang-nv opened #234 "Call `run_premerge_gpu.sh` from `run_premerge_cpu.sh`"
Is it possible to run cpu based blossom ci test first, and call gpu based blossom ci test if necessary?
It will reduce the usage of gpu and save some time when gpu resources are not available.

[2022-11-19 00:59] yiheng-wang-nv commented on #234
Hi @YanxuanLiu , may need your help here to address this feature request, thanks!

[2022-11-21 10:12] #209 closed, assigned to wyli

[2022-11-21 11:07] wyli commented on #209
Please help update monailabel to only requires the 'network_def'
@tangy5

I think preferably monailabel raises a warning for bundles that has 'network' but not 'network_def' instead of an exception for the upcoming versions

[2022-11-21 12:49] wyli commented on #234
might be useful to regularly run all tests as well.

currently, unchanged bundles are never tested any more after merging into dev
https://github.com/Project-MONAI/model-zoo/blob/94673ac426edbc2d1953ecd1d5c15052c56d2598/ci/run_premerge_gpu.sh#L76

[2022-11-22 02:15] ulphypro opened #239 "Auto Segmentation error in 'brats_segmentation_v0.3.3' model"
**Describe the bug**
[2022-11-22 10:24:37,281] [19036] [MainThread] [ERROR] (uvicorn.error:119) - Traceback (most recent call last):
  File "C:\Users\AA\AppData\Local\Programs\Python\Python39\lib\site-packages\starlette\routing.py", line 635, in lifespan
    async with self.lifespan_context(app):
  File "C:\Users\AA\AppData\Local\Programs\Python\Python39\lib\site-packages\starlette\routing.py", li

[2022-11-22 04:02] yiheng-wang-nv commented on #239
Hi, the error is `json.decoder.JSONDecodeError: Expecting ',' delimiter: line 63 column 43 (char 1947)`, could you please double check if line 63 misses a comma?

[2022-11-22 04:08] yiheng-wang-nv commented on #53
This issue has been resolved in: https://github.com/Project-MONAI/model-zoo/issues/180

[2022-11-22 04:08] #53 closed, assigned to nobody

[2022-11-22 04:09] yiheng-wang-nv commented on #144
Hi @holgerroth , may I ask is this issue solved, and do you need more help? Thanks!

[2022-11-22 04:12] yiheng-wang-nv commented on #181
Update: to prevent unexpected errors, this issue will be addressed after our next release.

[2022-11-22 04:14] yiheng-wang-nv commented on #231
Hi @myron and @Nic-Ma , could I double confirm that which place should be updated to add this option? In a bundle, or in all (internal contributed) bundles?

[2022-11-22 04:15] yiheng-wang-nv commented on #210
Update: I will address this feature today

[2022-11-22 04:32] ulphypro commented on #239
Thank you for answering my question
![image](https://user-images.githubusercontent.com/67679322/203221351-de5c7bf0-f5e9-4792-9fd3-bab7bf9632c2.png)

There is no problem regarding 63 line in decorder.py that error showed.

Is it correct to modify it as follows??
In inference.json code
"in_channels": 1 ---->edit
"ensure_channel_first: true" ------------->add

In train.json code
In inference.json cod

[2022-11-22 04:38] myron commented on #231
probably it makes more sense to do it in bundle, since we need it for all bundles.. but I'm not sure how difficult it is

[2022-11-22 05:28] yiheng-wang-nv commented on #239
Hi @ulphypro , I suspect here "line 63" is for the json file that produced the error, not for `decoder.py`. I cannot find an error in the code you attached, but may need to see the whole json files to double check it.

[2022-11-22 06:38] ulphypro commented on #239
Thank you. @yiheng-wang-nv

I edited total 3 files: inference.json, train.json and metadata.json included in 'brats_mri_segmentation_v0.3.3'.

There is no problem in corresponding codes.

I don't know why it occurs the error that is '[2022-11-22 15:37:19,967] [5628] [MainThread] [ERROR] (uvicorn.error:56) - Application startup failed. Exiting.'.

Corresponding codes are as following : edited infer

[2022-11-22 06:39] ulphypro commented on #239
Edited inference.json code included in brats_mri_segmentation_v0.3.3
{
    "imports": [
        "$import glob",
        "$import os"
    ],
    "bundle_root": "/workspace/brats_mri_segmentation",
    "ckpt_dir": "$@bundle_root + '/models'",
    "output_dir": "$@bundle_root + '/eval'",
    "data_list_file_path": "$@bundle_root + '/configs/datalist.json'",
    "data_file_base_dir": "/workspace/data/

[2022-11-22 06:40] ulphypro commented on #239
Edited train.json code included in brats_mri_segmentation_v0.3.3

{
    "imports": [
        "$import glob",
        "$import os"
    ],
    "bundle_root": "/workspace/brats_mri_segmentation",
    "ckpt_dir": "$@bundle_root + '/models'",
    "output_dir": "$@bundle_root + '/eval'",
    "data_list_file_path": "$@bundle_root + '/configs/datalist.json'",
    "data_file_base_dir": "/workspace/data/med

[2022-11-22 06:40] ulphypro commented on #239
Edited train.json code included in brats_mri_segmentation_v0.3.3

{
    "schema": "https://github.com/Project-MONAI/MONAI-extra-test-data/releases/download/0.8.1/meta_schema_20220324.json",
    "version": "0.3.3",
    "changelog": {
        "0.3.3": "update to use monai 1.0.1",
        "0.3.2": "enhance readme on commands example",
        "0.3.1": "fix license Copyright error",
        "0.3.0": "

[2022-11-22 06:44] Nic-Ma commented on #231
Hi @yiheng-wang-nv ,

I would suggest to add some description in this section of the doc:
https://github.com/Project-MONAI/model-zoo/blob/dev/CONTRIBUTING.md#verify-torchscript
Then developer or user will know how to quickly modify a bundle to test with the TorchScript model.
@myron What do you think?

Thanks in advance.

[2022-11-22 06:46] ulphypro commented on #239
@yiheng-wang-nv I edited only total 6 lines.
nference.json
-"in_channels" : 1
-ensure_channel_first" : true

train.json
-"in_channels" : 1
-ensure_channel_first" : true

metadata.json
-In "inputs" section, "num_channels": 1

[2022-11-22 06:56] yiheng-wang-nv commented on #239
this place is wrong:
[code]
"ensure_channel_first" should not be inside the list of "keys", it is another arg.

[2022-11-22 07:10] ulphypro commented on #239
@yiheng-wang-nv

Someone uploaded as demo video how to edit json files .

https://github.com/Project-MONAI/MONAILabel/issues/1051
https://user-images.githubusercontent.com/11991079/194732741-6d55c171-0eb6-4661-97fc-8fa0004897be.mp4

The person input "ensure_channel_first" inside "keys".

Then, where should I put "ensure_channel_first"?

[2022-11-22 07:13] yiheng-wang-nv commented on #239
[code]

[2022-11-22 07:35] ulphypro commented on #239
Thank you for helping me @yiheng-wang-nv

I edited inference.json and train.json code as you let me know.
1. Edited inference.json code
    "preprocessing": {
        "_target_": "Compose",
        "transforms": [
            {
                "_target_": "LoadImaged",
                "keys": [
               "image",
               ],
            "ensure_channel_first":true
            },

[2022-11-22 07:50] ulphypro commented on #239
Dear @yiheng-wang-nv
Sorry for bothering you, but let me know how to perfectly run 'Auto Segmentation' using 'brats_mri_segmentation_v0.3.3'.

[2022-11-22 07:57] yiheng-wang-nv commented on #239
This place in inference config is wrong:
[code]
the comma after "image" will raise the error, and actually only one key named "image" is used, there is no need to put it into a list.
You can do:
[code]
or
[code]

[2022-11-22 08:18] #210 closed, assigned to yiheng-wang-nv

[2022-11-22 08:53] ulphypro commented on #239
@yiheng-wang-nv

1. edited inference.json code
   "preprocessing": {
        "_target_": "Compose",
        "transforms": [
            {
                "_target_": "LoadImaged",
                "keys": ["image"],
                "ensure_channel_first": true
            },

2. edited train.json code
    "train": {
        "preprocessing_transforms": [
            {
               "target": "LoadI

[2022-11-22 09:16] wyli opened #244 "update `mednist_reg` dep version for monai v1.1"
**Describe the bug**
https://github.com/Project-MONAI/model-zoo/blob/efd7f47037ff892c7f36fcf6b129c1452a5163e0/models/mednist_reg/configs/metadata.json#L7

the `mednist_reg` bundle requires latest monai features to be released in version `1.1`.
but the metadata is set to `1.0.1` (to pass the pre-merge checks). The metadata should be reviewed and tested when `1.1` is available.

[2022-11-22 21:16] myron commented on #231
okay, sure, it will be helpful, may be later we can think of a more elegant way

[2022-11-22 22:52] diazandr3s commented on #239
Hi,

We've tried to explain what's happening with this issue in this reply: https://github.com/Project-MONAI/MONAILabel/issues/1051#issuecomment-1320211833

I try to explain here again:

- Unfortunately, the monaibundle for brats (brats_mri_segmentation_v0.2.1) needs more work to properly manage the 4 modalities in BRATS dataset. The solution isn't only to add `_"ensure_channel_first":true_`  - Th

[2022-11-23 00:05] holgerroth commented on #144
Thanks. I confirmed it's working with [spleen_ct_segmentation_v0.3.7](https://github.com/Project-MONAI/model-zoo/blob/60d27a6b6b11678272d813fb5e7f153a1de8fc43/models/spleen_ct_segmentation). Likely the bundle_root was misconfigured as suggested by @Nic-Ma. Closing this now.

[2022-11-23 00:05] #144 closed, assigned to holgerroth

[2022-11-23 00:12] holgerroth opened #247 "Set bundle_root to current directory by default"
**Is your feature request related to a problem? Please describe.**
It's easy to misconfigure the bundle root when copying bundle files around. I would suggest to use `"bundle_root": "$os.getcwd()"`.
Then issues like #144 could be avoided.

**Describe the solution you'd like**
Set bundle_root in all models to `"bundle_root": "$os.getcwd()"` by default.

**Describe alternatives you've considered**
C

[2022-11-23 01:16] Nic-Ma commented on #231
Hi @yiheng-wang-nv ,

Please update the contributing.md for it.

Thanks.

[2022-11-23 01:25] Nic-Ma commented on #247
Hi @wyli ,

What do you think about it?

Thanks.

[2022-11-23 03:39] yiheng-wang-nv commented on #239
Hi @ulphypro

I modified the inference.json into:
[code]
and run the bundle inference command and no error happened. Since you did not post the actual json file here, I'm not able to detect more about it. If possible, please push your changes into your forked repo, and attach the link, thanks!

[2022-11-23 06:48] wyli commented on #247
I think putting a good default value makes sense... Also the device default could be cuda0 if has cuda else cpu0?

[2022-11-23 08:34] yiheng-wang-nv commented on #234
According to @YanxuanLiu 's suggestion, I will create a PR to address:
1. avoid running blossom ci for PRs that are created by `update_model_info.py` (these PRs only change the `models/model_info.json` and do not need to do the tests)
2. modify `verify_bundle.py` and add `verify_data_shape` into "min" mode (it does need to use gpu)
cc @wyli

[2022-11-23 08:37] yiheng-wang-nv commented on #234
Hi @wyli , for this issue, could we create a new ticket? I think it needs to add a new workflow and run periodically. It also needs to change the `verify_bundle.py` and disable some verifications such as `verify_version_changes` (which requires to recognize a new version number).

[2022-11-23 08:44] wyli opened #249 "regular tests for existing models"
**Is your feature request related to a problem? Please describe.**
existing bundles will never be tested again once merged into `dev` and deployed.

it would be helpful to test the zipped files regularly by downloading and checking the bundles from here:
https://github.com/Project-MONAI/model-zoo/releases/tag/hosting_storage_v1

[2022-11-23 08:46] wyli commented on #234
thanks I've created a ticket https://github.com/Project-MONAI/model-zoo/issues/249, and I realised maybe that tests should be done with the zipped bundle file (from https://github.com/Project-MONAI/model-zoo/releases/tag/hosting_storage_v1) instead of `dev` itself because the contributors may or may not make the large files available forever..

[2022-11-23 09:13] yiheng-wang-nv commented on #247
Thanks @holgerroth . Hi @Nic-Ma and @wyli , how about address this ticket after this release?

[2022-11-23 13:11] holgerroth commented on #247
Sure. This is not urgent.

[2022-11-23 15:12] diazandr3s commented on #239
By `run the bundle inference command and no error happened` you mean using the command line interface, right?

[2022-11-24 08:52] yiheng-wang-nv opened #254 "Fix flake8 issue"
The issue comes from the new release of flake8, and it has been fixed in MONAI (https://github.com/Project-MONAI/MONAI/issues/5575)

[2022-11-24 09:32] wyli opened #256 "google drive file downloading issue"
**Describe the bug**
Some of the large files contributed by bundle developers are stored in google drive. These are currently handled by gdown which is currently facing downloading issues:

[code]

https://github.com/Project-MONAI/model-zoo/actions/runs/3538697697/jobs/5939782612

see also
- https://github.com/wkentaro/gdown/issues/222

[2022-11-24 09:38] wyli commented on #256
@yiheng-wang-nv looked into this and proposed this fix https://github.com/wkentaro/gdown/pull/224 to incorporate the gdrive front-end changes. Making this fix or a similar one available via the external repo to pypi will take some time, we'll have some workaround during this time (https://github.com/Project-MONAI/model-zoo/pull/251/commits/4bc87e6b0de56f492a153f22cb82c62633c58e16).

this (https://

[2022-11-24 09:53] #254 closed, assigned to yiheng-wang-nv

[2022-11-25 00:17] ulphypro commented on #239
Dear @yiheng-wang-nv @diazandr3s

Error associated with inference.json and train.json doesn't occur any more though it couldn't detect segment as green.

Thank you for helping me.

https://user-images.githubusercontent.com/67679322/203880351-4fa12af4-1f51-405d-b23d-296b48351ac9.mp4

[2022-11-25 05:21] ulphypro commented on #239
Dear @diazandr3s @yiheng-wang-nv

As @diazandr3s  mention [Project-MONAI/MONAILabel#1051 (comment)](https://github.com/Project-MONAI/MONAILabel/issues/1051#issuecomment-1320211833) and here, I downloaded a single dataset(BraTs2021 included flair, t1, t1ce and t2) and I run in 3D-Slicer again.

Running process is as follow.
1. edited three files in 'brats_mri_segmentation_v0.3.3'
(1) inference.json

[2022-11-25 06:53] ulphypro commented on #239
@diazandr3s

I downloaded BraTS2021 dataset as you mention.

Should I run using apps/radiology with BraTS2021 dataset?

After starting monailabel server using command 'monailabel start_server --app apps/radiology --studies datasets/Task01_BrainTumour/imagesTr --conf models segmentation' in Window Powershell, I can't run 3D-Slicer.

Because it doesn't support segmentation associated with brain tumo

[2022-11-25 07:08] ulphypro commented on #239
@diazandr3s

I downloaded BraTS2021 dataset as you mention.

Should I run using apps/radiology with BraTS2021 dataset?

After starting monailabel server using command 'monailabel start_server --app apps/radiology --studies datasets/Task01_BrainTumour/imagesTr --conf models segmentation' in Window Powershell, I can't run 3D-Slicer.

Because It doesn't support segmentation associated with brain tumo

[2022-11-25 14:31] #256 closed, assigned to nobody

[2022-11-28 11:05] #234 closed, assigned to nobody

[2022-11-29 01:37] diazandr3s commented on #239
Again, the BRATS dataset has 4 modalities (four image tensors) per patient/case. If you used Task01 dataset from the Medical Segmentation Decathlon, you're using all four modalities in a single nifti file. This DO NOT work  as is with Slicer: https://github.com/Project-MONAI/MONAILabel/issues/1051#issuecomment-1295108353

This is what I recommend: https://github.com/Project-MONAI/MONAILabel/issues